body{
    margin: 0;
    padding: 0;
}
header{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    text-align: center;
    font-size: larger;
    color:white;
    height: 2.5em;
    padding: 10px;
    padding-bottom: 25px;
}
#logo{
    display: inline-block;
    justify-content: space-between;
    width: 100px;
    height: auto;
    margin-top: -1em;
}
#container{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
#addingbar{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(222,244,249,1) 97%, rgba(228,251,255,1) 100%);
    height: 80vh;
    border-style: solid;
    border-color: black;
    border-top:0;
}
#cards{
    height: 80vh;
    border-style: solid;
    border-color: black;
    border-top:0;
    border-left: 0;
    display: flex;
    overflow-x: scroll;
    overflow-y: auto;
    background: linear-gradient(49deg, rgba(255,255,255,1) 61%, rgba(145,164,218,1) 84%, rgba(12,109,250,1) 100%);

}
#cards, div{
    display: inline-block;
}
#add{
    font-size: larger;
    width:6em;
    height: auto;
    margin-left: 40%;
    margin-top: 2em;
    align-items: center;
    background: #f5f5fa;
    border: 0;
    border-radius: 8px;
    box-shadow: -5px -5px 10px 0 rgb(112, 111, 111),10px 10px 30px 0 #1d0dca17;
    box-sizing: border-box;
    color: #2a1f62;
    cursor: pointer;
    display: flex;
    font-family: "Cascadia Code";
    line-height: 1.5rem;
    padding: 15px;
    position: relative;
    text-align: left;
    
}
#add:hover{
    transform: scale(1.1);
}
#addingform{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:2vh;
    margin-top:4em;
    visibility: hidden;
    padding: 1em;
    animation: fade 1.35s;

}
@keyframes fade{
    0%{opacity: 0;}
    80%{opacity:0;}
    100%{opacity:1;}
}
input{
    border-width: 2px;
    border-top-style: dotted;
    border-radius: 5px 5px 5px 5px;
    font-family: "Cascadia Code";
    font-size:18px;
}
input:hover{
    transform: scale(1.05);
}
#radios{
    display: block;
}
#radios:hover{
    transform: scale(1.05);
}
label{
    font-family: "Cascadia Code";
    font-size: larger;
    margin-left: 5px;
    font-weight: 900;
    margin-top: 1em;
}
#read, #notread{
    margin-left: 2em;
    margin-top: 15px;
}
#addingdone{
    max-width: 50%;
    width: 15vh;
    margin-left: 30%;
    margin-top: 3%;
    font-size: larger;
    align-items: center;
    background: #f5f5fa;
    border-radius: 8px;
    box-sizing: border-box;
    color: #2a1f62;
    cursor: pointer;
    display: flex;
    font-family: "Cascadia Code";
    line-height: 1.5rem;
    padding: 5px;
    position: relative;
    text-align: center;
}
#addingdone:hover{
    transform: scale(1.1);
}
.card{
    width:20%;
    height:40%;
    font-size: 24px;
    padding:1em;
    margin-left:1.5em;
    margin-top:1em;
    text-align: center;
    border-style: solid;
    border-color:black;
    background-color: #4169e1;
    font-family: "Cascadia Code";
    color: #fff;
    box-shadow:4px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:8px 0px 5px 0px rgba(0, 0, 131, 0.75);
    outline: transparent;
    position: relative;
}
#remove{
    display: block;
    border-radius: 10%;
    width:30px;
    height:30px;
    margin-left: auto;
    background-color:Red;
}
#titlei{
    font-size: 130%;
    overflow-y: hidden;
    overflow-x:hidden;
    white-space: nowrap;
    max-width: 95%;
}
#hr1{
    background-color:gold;
}
#authori{
    font-size: 16px;
    overflow-x:hidden;
    overflow-y:hidden;
    max-height: 1.2em;
    max-width: 80%;
    text-overflow: ellipsis;
}
#pagesi{
    max-width:50%;
    overflow-x:hidden;
    overflow-y: hidden;
    font-size: 12px;
    line-height: 1em;
    margin-top: 15%;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: underline gold;
}
